<!-- <svg
  xmlns="http://www.w3.org/2000/svg"
  aria-hidden="true"
  focusable="false"
  class="icon icon-close"
  fill="none"
  viewBox="0 0 18 17"
>
  <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</svg> -->

<div 
class="c_drawer__icon"
aria-hidden="true"
focusable="false"
>
  <svg
  class="icon icon-close"
  width="79" height="20" viewBox="0 0 79 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.642 15.154C4.90467 15.154 4.21867 15.028 3.584 14.776C2.95867 14.5147 2.408 14.1507 1.932 13.684C1.46533 13.2173 1.10133 12.676 0.84 12.06C0.578667 11.4347 0.448 10.7627 0.448 10.044C0.448 9.32533 0.578667 8.658 0.84 8.042C1.10133 7.41667 1.46533 6.87533 1.932 6.418C2.39867 5.96067 2.94467 5.606 3.57 5.354C4.20467 5.09267 4.89067 4.962 5.628 4.962C6.412 4.962 7.10733 5.088 7.714 5.34C8.33 5.592 8.86667 5.93733 9.324 6.376L7.854 7.86C7.59267 7.58 7.27533 7.36067 6.902 7.202C6.538 7.04333 6.11333 6.964 5.628 6.964C5.19867 6.964 4.802 7.03867 4.438 7.188C4.08333 7.328 3.77533 7.53333 3.514 7.804C3.262 8.07467 3.06133 8.40133 2.912 8.784C2.772 9.16667 2.702 9.58667 2.702 10.044C2.702 10.5107 2.772 10.9353 2.912 11.318C3.06133 11.7007 3.262 12.0273 3.514 12.298C3.77533 12.5687 4.08333 12.7787 4.438 12.928C4.802 13.0773 5.19867 13.152 5.628 13.152C6.132 13.152 6.57067 13.0727 6.944 12.914C7.31733 12.7553 7.63933 12.536 7.91 12.256L9.394 13.74C8.918 14.1787 8.372 14.524 7.756 14.776C7.14933 15.028 6.44467 15.154 5.642 15.154ZM11.7243 15V5.116H13.9223V15H11.7243ZM13.4183 15V13.068H18.3043V15H13.4183ZM24.8631 15.168C24.1165 15.168 23.4258 15.0373 22.7911 14.776C22.1658 14.5147 21.6151 14.1507 21.1391 13.684C20.6631 13.2173 20.2945 12.676 20.0331 12.06C19.7718 11.4347 19.6411 10.7627 19.6411 10.044C19.6411 9.316 19.7718 8.644 20.0331 8.028C20.2945 7.412 20.6585 6.87533 21.1251 6.418C21.5918 5.95133 22.1378 5.592 22.7631 5.34C23.3978 5.07867 24.0885 4.948 24.8351 4.948C25.5725 4.948 26.2538 5.07867 26.8791 5.34C27.5138 5.592 28.0645 5.95133 28.5311 6.418C29.0071 6.87533 29.3758 7.41667 29.6371 8.042C29.8985 8.658 30.0291 9.33 30.0291 10.058C30.0291 10.7767 29.8985 11.4487 29.6371 12.074C29.3758 12.69 29.0118 13.2313 28.5451 13.698C28.0785 14.1553 27.5278 14.5147 26.8931 14.776C26.2678 15.0373 25.5911 15.168 24.8631 15.168ZM24.8351 13.166C25.4231 13.166 25.9365 13.0353 26.3751 12.774C26.8231 12.5127 27.1685 12.1487 27.4111 11.682C27.6538 11.206 27.7751 10.66 27.7751 10.044C27.7751 9.57733 27.7051 9.15733 27.5651 8.784C27.4251 8.40133 27.2245 8.07467 26.9631 7.804C26.7018 7.524 26.3891 7.314 26.0251 7.174C25.6705 7.02467 25.2738 6.95 24.8351 6.95C24.2471 6.95 23.7291 7.08067 23.2811 7.342C22.8425 7.594 22.5018 7.95333 22.2591 8.42C22.0165 8.87733 21.8951 9.41867 21.8951 10.044C21.8951 10.5107 21.9651 10.9353 22.1051 11.318C22.2451 11.7007 22.4411 12.032 22.6931 12.312C22.9545 12.5827 23.2671 12.7927 23.6311 12.942C23.9951 13.0913 24.3965 13.166 24.8351 13.166ZM35.28 15.154C34.468 15.154 33.768 15.0233 33.18 14.762C32.6013 14.4913 32.0693 14.0853 31.584 13.544L33.012 12.13C33.3293 12.494 33.6793 12.7787 34.062 12.984C34.454 13.18 34.9067 13.278 35.42 13.278C35.8867 13.278 36.246 13.194 36.498 13.026C36.7593 12.858 36.89 12.6247 36.89 12.326C36.89 12.0553 36.806 11.836 36.638 11.668C36.47 11.5 36.246 11.3553 35.966 11.234C35.6953 11.1127 35.392 10.996 35.056 10.884C34.7293 10.772 34.4027 10.646 34.076 10.506C33.7493 10.3567 33.446 10.1747 33.166 9.96C32.8953 9.736 32.676 9.46067 32.508 9.134C32.34 8.798 32.256 8.378 32.256 7.874C32.256 7.26733 32.4007 6.74467 32.69 6.306C32.9887 5.86733 33.3993 5.536 33.922 5.312C34.4447 5.07867 35.0467 4.962 35.728 4.962C36.4187 4.962 37.0487 5.08333 37.618 5.326C38.1967 5.56867 38.6727 5.9 39.046 6.32L37.618 7.734C37.3193 7.426 37.016 7.19733 36.708 7.048C36.4093 6.89867 36.0687 6.824 35.686 6.824C35.3033 6.824 35 6.89867 34.776 7.048C34.552 7.188 34.44 7.39333 34.44 7.664C34.44 7.916 34.524 8.12133 34.692 8.28C34.86 8.42933 35.0793 8.56 35.35 8.672C35.63 8.784 35.9333 8.896 36.26 9.008C36.596 9.12 36.9273 9.25067 37.254 9.4C37.5807 9.54933 37.8793 9.74067 38.15 9.974C38.43 10.198 38.654 10.4873 38.822 10.842C38.99 11.1873 39.074 11.6167 39.074 12.13C39.074 13.0727 38.738 13.8147 38.066 14.356C37.394 14.888 36.4653 15.154 35.28 15.154ZM41.5941 15V5.116H43.7921V15H41.5941ZM43.2741 15V13.096H48.6921V15H43.2741ZM43.2741 10.87V9.036H48.2021V10.87H43.2741ZM43.2741 7.006V5.116H48.6221V7.006H43.2741Z" fill="#3C3C3C"/>
    <path d="M78 3L64 17" stroke="#3C3C3C" stroke-width="2"/>
    <path d="M64 3L78 17" stroke="#3C3C3C" stroke-width="2"/>
  </svg>
</div>

