@import "variables";

.menu-drawer {
    transform: translateX(100%);
    padding-top: 80px;
    padding-bottom: 60px;
    top: 0;
    left: unset;
    right: 0;
    width: 321px;
    height: 100vh !important;
    height: 100svh !important;
    z-index: 200;
}

.menu-drawer__menu {
    padding: 0 30px !important;
}

.c_drawer__icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.c_drawer__item-head {
    display: flex;
    align-items: center;
    column-gap: 10px;
    a {
        display: block;
        width: 118px;
        padding: 8px 0;
        text-align: center;
        background: $base-color;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 16.8px */
        letter-spacing: 0.48px;
        border-radius: 17px;
        text-decoration: none;
    }
}


.menu-drawer__navigation {
    padding: 0;
}

.c_drawer__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    padding: 24px 0;
    span {
        color: #3C3C3C;
        font-family: "Zen Kaku Gothic New";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.64px;
    }
    &.js-open {
        svg {
            path:nth-of-type(2) {
                display: none;
            }
        }
    }
}

.c_drawer__item {
    width: 100%;
    a {
        border-bottom: 1px solid #c5c5c5;
        display: block;
        text-decoration: none;
        padding: 24px 0;
        color: #3C3C3C;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.64px;
    }
}

.c_drawer__downMenu {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
    display: none;
    a {
        border-bottom: none;
        padding: 7px 0;
    }
}

.c_drawer__navHead {
    margin-top: 47px;
    color: #FF7B5E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: 3.2px;
    margin-bottom: 9px;
    padding: 0 30px;
}

.c_drawer__underItem {
    a {
        width: 100%;
        text-decoration: none;
        display: inline-block;
        padding: 16px 0;
        color: #3C3C3C;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 19.6px */
        letter-spacing: 0.56px;
        border-bottom: 1px solid #c5c5c5;
    }
}

.c_drawer__underItem.--first {
    a {
        padding-top: 0;
        padding-bottom: 16px;
    }
}

