@import "variables";

.c_topFv {
    padding: 0 min(vw(50), 50px);
    position: relative;
    padding-bottom: min(vw(52), 52px);
    @media screen and (max-width: 1000px) {
        padding: 0 20px;
        padding-bottom: 80px;
    }
    img {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    @include mq(sp) {
        padding: 0;
        //padding-bottom: vw-sp(94);
        width: calc(100% - 20px);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 55%;
        bottom: -95px;
        left: 0;
        background: #F5F5F5;
        @include mq(sp) {
            width: calc(100% + 20px);
            height: 85%;
        }
    }
}

.c_topFv-title {
    position: absolute;
    z-index: 1;
    bottom: vw(-25);
    left: vw(70);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    opacity: 0;
    @media screen and (max-width: 1000px) {
        left: 30px;
    }
    span {
        display: inline-block;
        padding: vw(6) vw(8) vw(6) vw(4);
        background: $base-color;
        color: #FFF;
        font-size: vw(23.52);
        font-style: normal;
        font-weight: 600;
        line-height: vw(28); /* 122.222% */
        letter-spacing: vw(8);
        @media screen and (max-width: 1000px) {
            padding: 4px 8px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 6px;
        }
    }
    span:first-of-type {
        padding-top: vw(12);
        margin-left: vw(10);
    }
    @include mq(sp) {
        left: vw-sp(12);
        top: vw-sp(100);
        span {
            padding: vw-sp(6) vw-sp(4);
            font-size: vw-sp(18);
            font-style: normal;
            font-weight: 600;
            line-height: vw-sp(22); /* 122.222% */
            letter-spacing: vw-sp(4);
        }
        span:first-of-type {
            padding-top: vw-sp(10);
            margin-left: vw-sp(8);
        }
    }
    animation-name: fvFade;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s;
    @keyframes fvFade {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }
}



.c_topFv__about-link {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: vw(200);
    width: vw(120);
    height: auto;
    aspect-ratio: 1;
    @media screen and (max-width: 990px) {
        right: vw(50);
        bottom: vw(60);
        width: 100px;
    }
    @include mq(sp) {
        width: 106px;
        bottom: -20px;
        left: 0;
    }
    img {
        width: 100%;
        height: 100%;
    }
    transition: all  0.3s ease;
    @media(hover: hover) {
        &:hover {
            opacity: .7;
        }
    }
    opacity: 0;
    animation-name: fvFade;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    animation-delay: 1s;
}
