@import "variables";

.c_topBanner {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 53%;
        top: -43px;
        left: 0;
        background: #F5F5F5;
    }
}


.swiper-container.--topBanner {
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    div:empty {
        display: block;
    }
    span:empty {
        display: block;
    }
}

.swiper.--topBanner {
    .swiper-slide {
        width: 100%;
    }
    a {
        display: block;
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
    }
}


// ============================
//     pagination について
// ============================

.swiper-container.--topBanner {
    position: relative;
}

// .pagination-wrap {
//     width: 100%;
//     position: absolute;
//     bottom: 30px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: fit-content;
// }

// //色と大きさ指定
// .swiper-pagination-bullet {
//     opacity: 1;
//     background: gray;
//     width: 10px;
//     height: 10px;
//     border-radius: 50%; //円にする
// }
// .swiper-pagination-bullet.swiper-pagination-bullet-active {
//     background: red;
// }
// //paginationの余白指定
// .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
//     margin: 0 10px;
// }
// //paginationの位置
// .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
// }
// ==============================
//     navigation について
// ==============================

// .swiper-button-prev {
//     //位置はここで指定
//     // top: 50%;
//     // transform: translateY(-50%);
//     &::after {
//         content: ''; //デフォルトの削除
//     }
// }

// .swiper-button-next {
//     //位置はここで指定
//     // top: 50%;
//     // transform: translateY(-50%);
//     &::after {
//         content: ''; //デフォルトの削除
//     }
// }


.c_topBanner__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    position: relative;
    z-index: 1;
    .c_topBanner__img {
        width: 400px;
        max-width: 100%;
        height: auto;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include mq(sp) {
        display: block;
        .c_topBanner__img {
            margin: auto;
            margin-bottom: 20px;
        }
    }
}